Repository SELab-2/UGent-3, pull requests merged in 2024-05, with the labels that each got.

#304 Submission issues
  backend/project/endpoints/submissions/submission_detail.py
  backend/project/endpoints/submissions/submissions.py
  backend/project/utils/models/submission_utils.py
  backend/tests/endpoints/submissions_test.py
Labels: bug, backend

#250 project form upload in user documentation
  documentation/documentation/.gitignore
  documentation/documentation/README.md
  documentation/documentation/babel.config.js
  documentation/documentation/docs/evaluators/_category_.json
  documentation/documentation/docs/evaluators/custom_evaluator.md
  documentation/documentation/docs/evaluators/general_evaluator.md
  documentation/documentation/docs/evaluators/python_evaluator.md
  documentation/documentation/docs/intro.md
  documentation/documentation/docs/projectform/_category_.json
  documentation/documentation/docs/projectform/image.png
  documentation/documentation/docs/projectform/project_upload_form.md
  documentation/documentation/docusaurus.config.ts
  documentation/documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/_category_.json
  documentation/documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/custom_evaluator.md
  documentation/documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/general_evaluator.md
  documentation/documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/python_evaluator.md
  documentation/documentation/i18n/nl/docusaurus-plugin-content-docs/current/intro.md
  documentation/documentation/i18n/nl/docusaurus-plugin-content-docs/current/projectform/project_upload_form.md
  documentation/documentation/package-lock.json
  documentation/documentation/package.json
  documentation/documentation/sidebars.ts
  documentation/documentation/src/components/HomepageFeatures/index.tsx
  documentation/documentation/src/components/HomepageFeatures/styles.module.css
  documentation/documentation/src/css/custom.css
  documentation/documentation/src/pages/index.module.css
  documentation/documentation/src/pages/index.tsx
  documentation/documentation/static/.nojekyll
  documentation/documentation/static/img/logo_app.png
  documentation/documentation/static/img/logo_ugent.png
  documentation/documentation/static/img/project_form_1.png
  documentation/documentation/static/img/project_form_2.png
  documentation/documentation/static/img/project_upload_form_3.png
  documentation/documentation/static/img/project_upload_form_4.png
  documentation/documentation/static/img/project_upload_form_5.png
  documentation/documentation/static/img/project_upload_form_6.png
  documentation/documentation/static/img/project_upload_form_7.png
  documentation/documentation/static/img/undraw_docusaurus_mountain.svg
  documentation/documentation/static/img/undraw_docusaurus_react.svg
  documentation/documentation/static/img/undraw_docusaurus_tree.svg
  documentation/documentation/tsconfig.json
Labels: documentation

#332 Fix: only 1 var name for api host
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverview.tsx
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverviewDatagrid.tsx
  frontend/src/pages/project/projectView/ProjectView.tsx
Labels: frontend

#330 Added readme for user guide
  documentation/documentation/README.md
Labels: documentation

#334 Textfield performance issue
  frontend/src/components/ProjectForm/ProjectForm.tsx
Labels: bug, frontend

#337 changed documentation location from documentation/documentation/ to documentation/
  documentation/.gitignore
  documentation/README.md
  documentation/babel.config.js
  documentation/docs/evaluators/_category_.json
  documentation/docs/evaluators/custom_evaluator.md
  documentation/docs/evaluators/general_evaluator.md
  documentation/docs/evaluators/python_evaluator.md
  documentation/docs/intro.md
  documentation/docs/projectform/_category_.json
  documentation/docs/projectform/image.png
  documentation/docs/projectform/project_upload_form.md
  documentation/docusaurus.config.ts
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/_category_.json
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/custom_evaluator.md
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/general_evaluator.md
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/python_evaluator.md
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/intro.md
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/projectform/project_upload_form.md
  documentation/package-lock.json
  documentation/package.json
  documentation/sidebars.ts
  documentation/src/components/HomepageFeatures/index.tsx
  documentation/src/components/HomepageFeatures/styles.module.css
  documentation/src/css/custom.css
  documentation/src/pages/index.module.css
  documentation/src/pages/index.tsx
  documentation/static/.nojekyll
  documentation/static/img/logo_app.png
  documentation/static/img/logo_ugent.png
  documentation/static/img/project_form_1.png
  documentation/static/img/project_form_2.png
  documentation/static/img/project_upload_form_3.png
  documentation/static/img/project_upload_form_4.png
  documentation/static/img/project_upload_form_5.png
  documentation/static/img/project_upload_form_6.png
  documentation/static/img/project_upload_form_7.png
  documentation/static/img/undraw_docusaurus_mountain.svg
  documentation/static/img/undraw_docusaurus_react.svg
  documentation/static/img/undraw_docusaurus_tree.svg
  documentation/tsconfig.json
Labels: documentation

#328 uses display name instead of uid
  backend/project/endpoints/projects/project_submissions_download.py
  backend/project/endpoints/users.py
  frontend/src/App.tsx
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverview.tsx
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverviewDatagrid.tsx
  frontend/src/loaders/submission-overview-loader.ts
  frontend/src/types/submission.ts
Labels: bug, frontend

#362 Submission tests
  backend/project/endpoints/courses/courses.py
  backend/project/endpoints/projects/project_assignment_file.py
  backend/project/endpoints/submissions/submissions.py
  backend/pylintrc
  backend/tests.yaml
  backend/tests/endpoints/conftest.py
  backend/tests/endpoints/course/courses_test.py
  backend/tests/endpoints/endpoint.py
  backend/tests/endpoints/submissions_test.py
Labels: backend, tests

#376 Fix the filter tests
  backend/project/endpoints/courses/courses.py
  backend/project/endpoints/submissions/submissions.py
  backend/tests/endpoints/endpoint.py
  backend/tests/endpoints/submissions_test.py
Labels: bug, backend

#378 Documentation/fix/GitHub link
  documentation/docusaurus.config.ts
  frontend/README.md
Labels: documentation

#355 patch score in backend when edited in the frontend and i18n for page
  backend/project/endpoints/submissions/submission_detail.py
  frontend/public/locales/en/submissionOverview.json
  frontend/public/locales/nl/submissionOverview.json
  frontend/public/locales/nl/submissionsOverview.json
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverviewDatagrid.tsx
  frontend/src/types/submission.ts
Labels: bug, frontend

#356 update frontend readme variables
  frontend/README.md
Labels: frontend

#357 Update backend README
  backend/README.md
Labels: documentation, backend

#396 removed edit link
  documentation/docusaurus.config.ts
Labels: documentation

#397 added user guide links
  frontend/public/locales/en/projectformTranslation.json
  frontend/src/components/ProjectForm/ProjectForm.tsx
  frontend/src/components/ProjectForm/RunnerSelecter.tsx
Labels: frontend

#402 Rendering edit functionality only when you're a teacher of the project
  frontend/src/pages/project/projectView/ProjectView.tsx
Labels: bug, frontend

#400 added translation for homepage of user guide
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/intro.md
Labels: documentation

#410 Project issues
  backend/project/endpoints/projects/project_last_submission.py
  backend/project/endpoints/projects/project_submissions_download.py
Labels: bug, backend

#416 Project tests
  backend/tests/endpoints/conftest.py
  backend/tests/endpoints/project_test.py
Labels: backend, tests

#425 added explanation for custom runner
  documentation/docs/evaluators/custom_evaluator.md
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/custom_evaluator.md
Labels: documentation

#424 added general evaluator documentation
  documentation/docs/evaluators/general_evaluator.md
  documentation/i18n/nl/docusaurus-plugin-content-docs/current/evaluators/general_evaluator.md
Labels: documentation

#391 Header tests frontend
  frontend/.gitignore
  frontend/cypress/e2e/Header.cy.tsx
  frontend/cypress/e2e/HomePageTests.cy.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/unit/header.test.tsx
  frontend/tests/utils/api.ts
  frontend/tests/utils/me-fixture.ts
  frontend/tests/utils/utils.ts
Labels: frontend, tests
