Repository SELab-2/UGent-3, pull requests merged in 2024-04, with the labels that each got.

#226 Fix authentication bugs
  backend/project/endpoints/authentication/auth.py
  backend/project/init_auth.py
  frontend/src/components/Courses/CourseDetailTeacher.tsx
  frontend/src/components/Courses/CourseUtilComponents.tsx
  frontend/src/components/Courses/CourseUtils.tsx
  frontend/src/components/Header/Login.tsx
  frontend/src/components/ProjectForm/ProjectForm.tsx
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverview.tsx
  frontend/src/components/ProjectSubmissionOverview/ProjectSubmissionOverviewDatagrid.tsx
  frontend/src/pages/project/FetchProjects.tsx
  frontend/src/pages/project/projectView/ProjectView.tsx
  frontend/src/pages/project/projectView/SubmissionCard.tsx
  frontend/src/utils/authenticated-fetch.ts
  frontend/src/utils/csrf.ts
Labels: bug, frontend, backend

#268 Changed AUTHENTICATION_URL .env variable
  backend/project/endpoints/authentication/auth.py
  backend/tests.yaml
Labels: backend, tests

#280 Authentication fix for backend tests
  backend/project/__init__.py
  backend/project/endpoints/authentication/auth.py
  backend/project/utils/user.py
  backend/run_tests.sh
  backend/test_auth_server/__main__.py
  backend/tests/endpoints/conftest.py
  backend/tests/endpoints/course/courses_test.py
  backend/tests/endpoints/course/share_link_test.py
  backend/tests/endpoints/endpoint.py
  backend/tests/endpoints/project_test.py
  backend/tests/endpoints/submissions_test.py
  backend/tests/endpoints/user_test.py
  backend/tests/utils/auth_login.py
Labels: bug, backend

#285 Cleanup of authentication tests
  backend/tests/endpoints/conftest.py
  backend/tests/endpoints/course/courses_test.py
  backend/tests/endpoints/endpoint.py
Labels: backend, tests

#301 Submission authorization issues
  backend/project/endpoints/submissions/submission_detail.py
  backend/project/endpoints/submissions/submissions.py
  backend/project/utils/authentication.py
Labels: bug, backend
